# ===========================
# SERVER CONFIG
# ===========================
PORT=3000
NODE_ENV=development

# ===========================
# MONGO DATABASE
# ===========================
MONGO_URI=mongodb://localhost:27017/
DB_NAME=openledger

# ===========================
# AUTH
# ===========================
JWT_SECRET=change-me-in-production
